<%- include('../blocks/header', {bot: bot, user: user, auth: auth}) %>
  <div class="container">
      <h1 class="text-center">Legal</h3>
      <div class="container text-center">
        <div id="tableofcontents">
          <h2>
            Table of Contents
          </h2>
          <h3>
            <a href="#privacy">Privacy Policy</a><br>
            <a href="#terms">Terms of Service</a>
          </h3>
        </div>
        <div id="privacy">
          <%- privacy %>
        </div>
        <div id="terms">
          <%- terms %>
        </div>
        <div id="consent">
          <b><h4>By using this website, you agree to the above Terms of Service and Privacy Policy</h4></b>
          <h5>
            <i>
              These legal notices were generated for use on this dashboard on the date: 13 November 2017 and was last edited on the date: <%= edited %>
            </i>
          </h5>
        </div>
    </div>
<% include('../blocks/footer') %>
